{% extends "layout.html" %}

{% with messages = get_flashed_messages() %}
  <p>here</p>
  {% if messages %}
   <p>here2</p>
  {% for message in messages %}  
    <ol>  
      <li>{{ message }}<li>
    </ol>
  {% endfor %}
  {% endif %}
{% endwith %}

{% block title %}Home{% endblock %}

{% block content %}
  <h1>Home</h1>
  <ul>
    <li><a href="/page1">That thing we do</a></li>
    <li><a href="/page2">The other thing</a></li>
  </ul>

<p>This is a sample application to demonstrate authenticating against github oauth,
using Flask, on Heroku.</p>



{% endblock %}
